<ion-header>
  <ion-toolbar>
    <ion-title>Donor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
       
          <ion-item>
            <ion-input placeholder="Enter Name" [(ngModel)]="studentName"></ion-input>
          </ion-item>
             

          <ion-item>
            <ion-input placeholder="Enter Age" [(ngModel)]="studentAge"></ion-input>
          </ion-item>
      
        
          <ion-item>
            <ion-input placeholder="Enter Address" [(ngModel)]="studentAddress"></ion-input>
          </ion-item>
      
     
    
      
          <ion-item>
              <ion-input placeholder="Blood Group" [(ngModel)]="bloodgroup"></ion-input>
          </ion-item>
       
       
            <ion-item>
                <ion-input placeholder="Mobile #" [(ngModel)]="mobile"></ion-input>
            </ion-item>
         
  
        
            <ion-item>
                <ion-input placeholder="Conveyence (Yes/No)" [(ngModel)]="conveyence"></ion-input>
            </ion-item>
         
     
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress || !bloodgroup">
            <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            &nbsp;Add as a Donor
          </ion-button>
        </ion-col>
      </ion-row>
</ion-content>
